<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="village">
            <h2><span jhiTranslate="simplifyServeApp.village.detail.title">Village</span> {{ village.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="simplifyServeApp.village.board">Board</span></dt>
                <dd>
                    <span>{{ village.board }}</span>
                </dd>
                <dt><span jhiTranslate="simplifyServeApp.village.village">Village</span></dt>
                <dd>
                    <span>{{ village.village }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/village', village.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
