<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="slip">
            <h2><span jhiTranslate="simplifyServeApp.slip.detail.title">Slip</span> {{ slip.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="simplifyServeApp.slip.date">Date</span></dt>
                <dd>
                    <span>{{ slip.date }}</span>
                </dd>
                <dt><span jhiTranslate="simplifyServeApp.slip.tbgr">Tbgr</span></dt>
                <dd>
                    <span>{{ slip.tbgr }}</span>
                </dd>
                <dt><span jhiTranslate="simplifyServeApp.slip.grade">Grade</span></dt>
                <dd>
                    <span>{{ slip.grade }}</span>
                </dd>
                <dt><span jhiTranslate="simplifyServeApp.slip.lotno">Lotno</span></dt>
                <dd>
                    <span>{{ slip.lotno }}</span>
                </dd>
                <dt><span jhiTranslate="simplifyServeApp.slip.weight">Weight</span></dt>
                <dd>
                    <span>{{ slip.weight }}</span>
                </dd>
                <dt><span jhiTranslate="simplifyServeApp.slip.price">Price</span></dt>
                <dd>
                    <span>{{ slip.price }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/slip', slip.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
